$primary-font: 'Avenir Bold';
$secondary-font: 'Avenir Regular';
$main-font-size: 0.75rem;
$pageheader-mb: 1.5rem;
$pageheader-td: 2.063rem;
$subheader-mb: 0.813rem;
$subheader-td: 0.875rem;
$text-mb: 0.625rem;
$lh-primary: 1.125rem;
$lh-pageheader-mb: 2rem;
$lh-secondary: 1.25rem;
$lh-main-td: 1.375rem;
$lh-pageheader-td: 2.75rem;
$black: #323232;
$blue: #0095FF;
$silver: #AFAFAF;
$white: #FFFFFF;
$dark-black: #000000;
$dark-blue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1279px;

*, *::before, *::after {
    box-sizing: border-box;
}

@mixin tablet {
    @media (min-width: $breakpoint-tablet){
        @content;
    }
}
@mixin desktop {
    @media (min-width: $breakpoint-desktop){
        @content;
    }
}
@mixin pageheadermb {
    font-family: $primary-font;
    font-size: $pageheader-mb;
    line-height: $lh-pageheader-mb;
}
@mixin mainfont {
    font-family: $primary-font;
    font-size: $main-font-size;
    line-height: $lh-secondary;
}
@mixin subh-text-mb {
    font-size: $subheader-mb;
    line-height: $lh-primary;
}
@mixin labelbtnmb {
    font-family: $primary-font;
    font-size: $text-mb;
    line-height: $lh-secondary;
}
@mixin pageheadertd {
    font-family: $primary-font;
    font-size: $pageheader-td;
    line-height: $lh-pageheader-td;
}
@mixin subh-text-td {
    font-size: $subheader-td;
    line-height: $lh-main-td;
}

body {
    margin: 0;
}

input {
    font-family: $secondary-font;
    @include subh-text-mb;

}
button {
    @include labelbtnmb;
    @include tablet {
        @include mainfont;
    }
    @include desktop {
        @include mainfont;
    }
}
h1 {
    font-family: $primary-font;

}
h2 {
    font-family: $primary-font;
    @include subh-text-mb;
}
h3 {
    font-family: $primary-font;
    @include subh-text-mb;
}
p {
    font-family: $secondary-font;
    @include subh-text-mb;
}
p.comments-list__wrapper-details-comments__details__timestamp {
    color: $silver;
}