@font-face {
    font-family: 'Avenir Bold';
    src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("opentype"),
    url("../../assets/font/Alternative/AvenirNextLTProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Avenir Regular';
    src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("opentype"),
    url("../../assets/font/Alternative/AvenirNextLTPro.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}