@import "./styles/styles.scss";

.divider {
    display: none;
}
@include desktop {
    .content__section {
        display: flex;
        width: 100%;
    }
    .divider {
        border: 0.063rem solid $mercury;
        display: flex;
        flex-direction: column;
    }
    .content__right-side {
        width: 65%;
    }
    .content__left-side {
        width: 35%;
    }
}