@import "../../styles/styles.scss";

/* Mobile screen */
.video-details {
    padding: 1.5rem 1rem 0 1rem;
    &__title {
        margin: 0;
    }
    &__divider--mb {
        border: 0.063rem solid $mercury;
    }
    &__divider {
        border: 0.063rem solid $mercury;
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    &__channel-details{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    &__timestamp {
        color: $silver;
    }
    &__views-likes-container {
        width: 50%;
    }
    &__views-container {
        display: flex;
        flex-direction: row;
        gap: 0.313rem;
    }
    &__views {
        color: $silver;
    }
    &__likes-container {
        display: flex;
        flex-direction: row;
        gap: 0.313rem;
    }
    &__likes {
        color: $silver;
    }
}
/* Tablet screen */
@include tablet {
    .video-details {
        padding: 2.25rem 2.625rem 0 2.625rem;
        &__divider--mb {
            display: none;
        }
        &__channel-details{
            display: flex;
            flex-direction: row;
            gap: 2rem;
            width: 50%;
        }
        &__views-container {
            display: flex;
            flex-direction: row;
            gap: 0.313rem;
        }
        &__views-likes-container {
            width: 50%;
            display: flex;
            gap: 2rem;
            justify-content: flex-end;
        }
    }
}
/* Desktop screen */
@include desktop {
    .video-details {
        padding: 2.25rem 0 0 8.75rem;
        &__views-likes-container {
            width: 50%;
            display: flex;
            gap: 2rem;
            justify-content: flex-end;
            padding-right: 1rem;
        }
        &__description {
            padding-right: 1rem;
        }
    }
}
